
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

/* Whole Doc */
body{
    position: relative;
    width: 100%;
    height: 100vh;
    background : url(../img/bg.jpg) no-repeat;
    background-position: 0px -200px;
    background-size: cover;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #3EA728;
    opacity: 0.29;
}

/* Navigation */
.header{
    width: 100vw;
    height: 100px;
    display: flex;
    padding: 70px 30px;
    justify-content: space-between;
    align-items: center;
}

/* Playlist */
.playlist{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 200px;
}

.playlist i{
    position: relative;
    z-index: 10;
    font-size: 1.7rem;
    color: #fff;
    border: #fff solid 2px;
    padding: 10px;
    cursor: pointer;
}

.playlist i:nth-child(1){
    border-radius: 10px;
}

.playlist i:nth-child(2){
    border-radius: 50%;
    height: 42px;
    padding-top: 6px;
}

.playlist #sign-two{
    display: none;
}

/* Slide In Playlist */
.plist{
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 6;
    width: 350px;
    height: 100%;
    background: #45C52C;
    padding: 100px 20px;
    transition: all 0.1s;
}

.list{
    display: block;
}

.songs{
    background: #2F8B28;
    padding: 15px;
    border-radius: 15px;
    height: 50vh;
    overflow: auto;
}

.song{
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}

.song p{
    font-size: 1.1rem;
    color: #fff;
}

.song > i:nth-child(2){
    font-size: 0.8rem;
    padding-top: 5px;
    color: #fff;
    cursor: pointer;
}

.song > i:nth-child(3){
    padding-top: 4px;
    color: #fff;
    cursor: pointer;
}

.btn{
    position: relative;
    top: 200px;
    text-align: center;
}

.btn a{
    text-decoration: none;
    color: #fff;
    border: 3px #fff solid;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #2F8B28;
    transition: all 0.3s;
}

.btn a:hover{
    background-color: #fff;
    border-color: #2F8B28;
    color: #2F8B28;
}

#pl-menu:checked ~ .plist{
    left: 0;
}

#pl-menu:checked ~ .playlist #sign-one{
    display: none;
}

#pl-menu:checked ~ .playlist #sign-two{
    display: block;
}

/* SVG Logo with Animation */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.logo svg{
    animation: fill 2s ease forwards 3.5s;
}

.logo svg path:nth-child(7){
    stroke-dasharray: 2436;
    stroke-dashoffset: 2436;
    animation: line-anim 2s ease forwards;
}

.logo svg path:nth-child(8){
    stroke-dasharray: 658;
    stroke-dashoffset: 658;
    animation: line-anim 2s ease forwards 0.3s;
}

.logo svg path:nth-child(9){
    stroke-dasharray: 660;
    stroke-dashoffset: 660;
    animation: line-anim 2s ease forwards 0.6s;
}

.logo svg path:nth-child(10){
    stroke-dasharray: 478;
    stroke-dashoffset: 478;
    animation: line-anim 2s ease forwards 0.9s;
}

.logo svg path:nth-child(11){
    stroke-dasharray: 611;
    stroke-dashoffset: 611;
    animation: line-anim 2s ease forwards 1.2s;
}

.logo svg path:nth-child(12){
    stroke-dasharray: 1361;
    stroke-dashoffset: 1361;
    animation: line-anim 2s ease forwards 1.5s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: #fff;
    }
}


/* Social Media */
.social{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 200px;
    list-style-type: none;
}

.social li{
    margin: 0 20px;
}

.social li a{
    text-decoration: none;
    color: #fff;
}

.social li i{
    font-size: 1.8rem;
}

#pl-menu{
    display: none;
}

/* Player | Main Content */
.container{
    display: block;
    position: relative;
    z-index: 2;
}

.cover{
    display: flex;
    justify-content: center;
    animation: wave 4s infinite forwards;
}

@keyframes wave{
    0%{
        transform: scale(0.97);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.97);
    }
}

.cover img{
    width: 500px;
    border: #35C930 9px solid;
    border-radius: 70px;
}

.controls{
    display: block;
    background: RGBA(53,201,48,0.42);
    width: 500px;
    margin: 40px auto 25px auto;
    padding: 20px 0;
    border-radius: 40px;
}

.main-controls{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.main-controls > div{
    padding: 0 30px;
}

.main-controls > div:nth-child(2) i,
.main-controls > div:nth-child(3) i,
.main-controls > div:nth-child(4) i{
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.main-controls > div:nth-child(1) i,
.main-controls > div:nth-child(5) i{
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    margin-top: 4px;
}

.play-pause i:nth-child(2){
    display: none;
}

.seeker{
    display: flex;
    width: 400px;
    margin: 0 auto 25px auto;
}

.seeker .dslider{
    width: 100%;
    height: 15px;
}

.seeker p{
    color: #fff;
    margin: 0 7px;
}

.volume{
    display: flex;
    justify-content: center;
}

.speaker i:nth-child(2){
    display: none;
}

.volume > div{
    padding: 0 30px;
}

.speaker i{
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

.minus i,
.plus i{
    font-size: 1.2rem;
    margin-top: 3px;
    color: #fff;
    cursor: pointer;
}

.current{
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
}

.current p{
    text-align: right;
    color: #fff;
    position: relative;
    right: -75%;
    animation: slide 15s ease-in forwards infinite;
}

@keyframes slide{
    to{
        right: 100%;
    }
}

/* Responsive */
@media(max-width:1580px){
    body{
        background-position: center;
    }
}
